// _vars.scss

/* fonts */

$font-stack: "Geo", Helvetica, sans-serif;
$font-one: "CodeFont", Helvetica, sans-serif;

/* colors */
$black: #38393c;
$red: #cf000f;
$thunder: #d91e18;
$green: #049372;
$blue: #0a6f91;
$white: #fff;
$sutil: #f8f8f8;

$cyan: #29aae1;
$yellow: #ffd400;
$magenta: #d8148b;