</main>
     
     <footer class="main-footer">
         <section class="row valign-wrapper">
             <article class="col s3 l3 valign center hide-on-small-only">
                 <p>© 2015 Cloud &amp; Kloud</p>
             </article>
             <article class="col s12 l6 social-footer valign center">
                 <ul class="social-icons">
                     <li><a href="https://www.linkedin.com/company/cloud-and-kloud"><i class="fa fa-linkedin fa-3x"></i></a></li>
                     <li><a href="https://twitter.com/cloudandkloud"><i class="fa fa-twitter fa-3x"></i></a></li>
                     <li><a href="https://www.facebook.com/cloudandkloud"><i class="fa fa-facebook fa-3x"></i></a></li>
                 </ul>
             </article>
         </section>
     </footer>
      

      <a href="#0" class="cd-top btn-floating waves-effect waves-light material-icons z-depth-2">keyboard_arrow_up</a>
       <!-- /container -->        
       
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.data.global.url }}/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
        <script src="{{ site.data.global.url }}/js/vendor/materialize.min.js"></script>
        <script src="{{ site.data.global.url }}/js/min/main-min.js"></script>
    </body>
</html>